:root{
    --primary: #FFFFFF;
    --secondary: #9E121B;
    --tertiary: #F3F3F3;
    --color: #191A18;
    
}
.footer{
    background-color: var(--tertiary);
}
/* ###########already cart########### */
.maincheckoutbody{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 172px;
    /* background-color: #999999; */
    height: 800px;
}
.alreadycart{
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    margin-right: 15px;
    position: relative;
}
.cardcontainerall{
    background-color: #00000070;
    display: flex;
    justify-content: end;
    height: 100vh;
}
.cardcontainer{
    background-color: rgb(255, 255, 255);
    width: 380px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    /* border: 2px solid black; */
}
.cardcontainer .cardheader{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    /* background-color: rgb(61, 124, 124); */
}
.cardheader .x h2{
    font-weight: 100;
    line-height: 40px;
}
.cardheader p{
    line-height: 15px;
    color: gray;
    font-size: 14px;
    padding-bottom: 5px;
}
.cardcontainer .cardbody{
    height: 400px;
    /* background-color: rgb(123, 179, 179); */
}
.cardcontainer .codepromo1{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    /* transform:translateY(); */
}
.cardbody .start{
    padding-top: 15px;
    width:240px;
}
.cardbody .start p:first-child{
    padding-bottom: 5px;
}
.cardbody .center{
    padding-top: 15px;
}
.cardbody .center i{
    color: gray;
    font-size: 13px;
    padding: 3px;
}
.center .delet i{
    padding-top: 5px;
    color: gray;
}
.cardbody .amount{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardbody .amount p{
    color: rgb(99, 98, 98);
}
.cardcontainer .cardfooter{
    min-height: 140px;
    /* position: sticky; */
    /* right: 0; */
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(61, 124, 124); */
}
.cardcontainer .cardfooter .total{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 20px;
}
.cardbody .productslist li{
    display: flex;
    /* background-color: #3c5027; */
    justify-content: space-between;
    height: 120px;
    border-bottom: 1px solid gray;
}
.cardheader .x{
    display: flex;
    justify-content: space-between;
}
.cardbody .center {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50px;
}
.cardbody .productslist li .end{
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: #9E121B; */
    width: 100px;
}
.btncheckoutcard{
    padding-top: 20px;
}
.btncheckoutcard a{
    text-decoration: none;
    font-size: 20px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--tertiary);
    border-radius: 30px;
    padding: 15px 48px;
    transition: ease-in 0.2s;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.btncheckoutcard a:hover{
    background-color: var(--tertiary);
    color: var(--black);
    border: 1px solid var(--secondary);
    border-color: var(--color);
    transition: ease-out 0.4s;
}


/* ###########checkout info########### */
.checkoutinfo{
    background-color: white;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    height: 630px;
    width: 750px;
    margin-left: 15px;
    padding: 13px 0 0 0;
}
.checkoutinfo form{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}
.checkoutinfo form div{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

}
.checkoutinfo form input{
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    height: 40px;
    background-color: #f0f0f0;
    outline: none;
    padding-left: 15px;
    margin: 0 10px;
}
form .termscondition input{
    width: 17px;

}
form .termscondition{
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
}
.checkoutinfo ::placeholder {
    /* color: #9E121B; */
    color: #999999;
    opacity: 1; /* Firefox */
}
.checkoutinfo h3{
    font-weight: 100;
    border-bottom: 2px solid black;
    width: fit-content;
    margin: 0 0 0 10px;
}
.alreadycart form input{
    width: 90%;
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    height: 40px;
    background-color: #f0f0f0;
    outline: none;
    padding-left: 15px;
}
.alreadycart form button{
    position: absolute;
    top: 70%;
    left: 93%;
    transform: translateX(-93%);
    height: 40px;
    width: 100px;
    border: 1px solid #999999;
    background-color: #999999;
    color: white;
    border-radius: 20px;
}
.alreadycart form button:hover{
    background-color: #99999998;
    border: 1px solid #99999998;

}