:root{
    --primary: #FFFFFF;
    --secondary: #9E121B;
    --tertiary: #F3F3F3;
    --color: #191A18;
    
}
.footer{
    background-color: var(--tertiary);
}
/* ##############################spacer###################################### */
.thespacer{
    height: 500px;
    background-color: var(--secondary);
}
/* ###################### herosection ############################## */
.herosectionpc{
    background-color: #717171;
    height: 400px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 170px;
    /* background: url(/images/pcgamer2.jpg);
    background-repeat:no-repeat;
    background-position: 50%;
    background-size: cover; */
}
.textheropccontainer{
    /* background-color: #48751b; */
    padding: 0 172px;
    width: 650px;
    height: 200px;
}
.textheropccontainer .iconshe{
    width: 220px;
}
.textheropccontainer .iconshe ul{
    display: flex;
    justify-content: space-between;
}
.iconshe ul li{
    list-style-type: none;
}
.iconshe ul li i{
    color: white;
}
.textheropccontainer h1{
    font-size: clamp(32px, 2.5vw, 100px);
    /* font-size: 100px; */
    /* padding: 0 10%; */
    letter-spacing: .2rem;
    color: white;
    padding-bottom: 7px;
}
.textheropccontainer p{
    font-size: clamp(20px, 1vw, 100px);
    color: white;
    padding-bottom: 70px;
}
/* ###################### contact us ############################## */
.containercontactus{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    height: 800px;
    padding: 0 172px;
    position: relative;
}
.containercontactus .calltoactionform{
    /* background-color: #be6e6e; */
    width: 300px;
    height: 660px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.callway .calldivs{
    background-color: #c4c4c4;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.calltoactionform h5{
    font-size: 35px;
    font-weight: 200;
}
.calltoactionform .callway{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 460px;
}
.contactusform{
    /* background-color: aqua; */
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 25px 0px;
    position: absolute;
    right: 172px;
    top: -108px;
}
.contactusform .formheader{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #f0f0f0;
    width: 100%;
    height: 120px;
    padding: 20px 20px;
}
.contactusform .icon{
    height: 50px;
    width: 50px;
    background-color: #c4c4c4;
    border: #c4c4c4;
    border-radius: 5px;
}
.contactusform .textformheader{
    width: 600px;
    padding: 0 25px;
}
.contactusform .textformheader p{
    font-size: 20px;
}
.contactusform form{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}
.contactusform button{
    text-decoration: none;
    font-size: 20px;
    /* font-size: clamp(20px, 2.5vw, 22px); */
    /* line-height: 30px; */
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 6px;
    padding: 10px 0px;
    color: var(--tertiary);
    transition: ease-in 0.2s;
}  
.contactusform button:hover{
    background-color: var(--tertiary);
    color: var(--black);
    border: 1px solid var(--secondary);
    border-color: var(--color);
    transition: ease-out 0.4s;
}
.contactusform form div{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

}
.contactusform form input{
    width: 47%;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    height: 40px;
    background-color: #f0f0f0;
}
.contactusform form .lastdiv input:last-child{
    width: 100%;
    height: 250px;
}
.contactusform form button{
    width: 100%;
}
.contactusform ::placeholder {
    /* color: #9E121B; */
    color: #999999;
    opacity: 1; /* Firefox */
    padding-left: 15px;
}