:root{
    --primary: #FFFFFF;
    --secondary: #9E121B;
    --tertiary: #F3F3F3;
    --color: #191A18;
    
}
.footer{
    background-color: var(--tertiary);
}
/* ################# espace client ############################ */
.espaceclientwrapper{
	padding: 0 172px;
}
.espaceclient{
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	height: 600px;
	/* border: 2px solid black; */
}
.espacenav{
	display: flex;
	align-items: center;
	/* background-color: aquamarine; */
	/* width: 100%; */
	/* height: 100%; */
}
.espacenav .navheader{
	/* background-color: rgb(203, 240, 240); */
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
	position: relative;
}
.navheader::after{
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: #9E121B;
	border-radius: 2px;
	height: 83%;
	width: 5px;
}
.espacenav .navheader .espaceprofile{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-color: #191A18;
	margin: 0 0 13px 0;
	background-image: url(../images/flopppa.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.navheader .navlistespace{
	list-style-type: none;
	min-height: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* background-color: #a1464c; */
	margin: 30px 0;
}
.navheader .navlistespace li{
	/* background-color: #9E121B; */
	height: 50px;
	display: flex;
}
.navheader .navlistespace a{
	/* padding: 0 0 0 60px; */
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: larger;
	background-color: white;
	width: 100%;
	position:absolute;
	left: 0;
	padding: 20px 0 20px 25%;
}
/* .navheader .navlistespace a:hover{
	background-color: #9E121B;
	color: white;
	border-radius: 10px 0 0 10px;
} */
.navheader .navlistespace .active{
	background-color: #9E121B;
	color: white;
	border-radius: 10px 0 0 10px;
}
/* elemnts subpages */
.espaceclient .espacecontent{
	background-color: var(--primary);
	/* background-color: rgb(37, 190, 190); */
	height: 80%;
	width: calc(100% - 20%);
	position: relative;
}
.espacesubpages{
	/* background-color: #3c9435; */
	height: 100%;
	width: 100%;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}
.show{
	display: flex;
	/* align-items: center;
	justify-content: center; */
}
.userinfo{
	padding: 5px 0 10px 20px;
}
.Logout i{
	padding-left: 5px;
}
.Logout .logoutdiv{
	padding: 5px 0 10px 20px;
}
.Logout i:hover{
	cursor: pointer;
	color: #9E121B;
}

/* ################## reviews ######### */


table {
  border-collapse: collapse;
  /* border: 1px solid rgb(212, 208, 208); */
  background-color: white;
  text-align: left;
  overflow: hidden;
  border-radius: 5px;
}
table thead {
  /* box-shadow: 0 5px 10px #e1e5ee; */
  background-color: var(--tertiary);

}
table th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}
table td {
  padding: 1rem 2rem;
}
table a {
  text-decoration: none;
  color: #2962ff;
}
table a:hover{
	color: #9E121B;
}
table tr {
  /* background-color: #f4f6fb; */
  border-bottom:1px solid rgb(194, 192, 192) ;
}
/*# sourceMappingURL=style.css.map */
.reviewstabs{
	width: 100%;
	padding: 5px 0 10px 20px;
}
.reviewstabs table{
	width: 100%;
}
/* ############# order ########### */
.Orderstabs{
	width: 100%;
	padding: 5px 0 10px 20px;
}
.Orderstabs table{
	width: 100%;
}
/* ############### acount details ############## */
.userinfo{
	width: 100%;
}
.userinfo .profile{
	font-size: 30px;
}
.userinfo form{
	margin: 20px 0px;
}
.userinfo form input{
	padding: 10px 7px;
	width: 50%;
	border: 1px solid grey;
	border-radius: 5px;
	margin: 10px 0;
}
.userinfo form input::placeholder{
	color: #aeadad;
}
.userinfo form input[type=submit]{
	width: 20%;
	background-color: var(--color);
	color: white;
}
.userinfo form input[type=submit]:hover{
	background-color: #191a187e;
	color: #191A18;
	cursor: pointer;
}
/* ############ download ######### */
.downloadsection{
	padding: 5px 0 10px 20px;
}