@font-face {
    font-family: "std";
    src: url(font/circular-std-medium-500.ttf) format('truetype');
}
:root{
    --primary: #FFFFFF;
    --secondary: #9E121B;
    --tertiary: #F3F3F3;
    --color: #191A18;
    
}
*{
    font-family: "std";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* alert message */
.alertmessage{
    background-color: #fff;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
    box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 56px;
    border-radius: 12px;
    position: absolute;
    bottom: 20px;
    /* width: 260px; */
    right: 10px;
    padding: 15px 40px;
    border-left: 6px solid #9E121B;
    z-index: 1;
    position: fixed;
}
.alertmessage .contentalert{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.contentalert i{
    padding: 0 0 0 20px;
}
.contentalert i:hover{
    cursor: pointer;
}
/* navbar */
.navbar{
    background-color: var(--tertiary);
    display: flex;
    padding: 0px 64px;
    min-height: 74px;
    justify-content: space-between;
}
.logo1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlist ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}
.navlist ul li{
    padding: 0px 10px 0px 30px;
}
.navlist ul a{
    position: relative;
    padding: 0px 1px;
    text-decoration:none;
    color: var(--color);
}
.navlist a::after{
    content: "";
    position: absolute;
    background-color: var(--secondary);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navlist a:hover::after{
    width: 100%;

}
@media screen and (max-width: 1279px){
    .navbar {
        padding: 0px 40px;
    }
}
@media (max-width: 1140px) {
    .navlist{
        /* background-color: var(--tertiary); */
        
        background-color: rgb(221, 221, 221);
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 1;
        padding: 50px 0 0 0;
        opacity: 0;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .navlist2{
        transform: translateX(0%);
        opacity: 1;
    }
    .navlist ul{
        flex-direction: column;
    }
    .navlist ul li{
        padding: 30px 0 0 0;
    }
    .navtoggle{
        background: url(../images/bars-solid.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        z-index: 100;
    }
    .navtogglex{
        background: url(../images/xmark-solid.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        z-index: 100;
    }
    .navtoggle:hover{
        cursor: pointer;
    }
}

/* ##############################promobar###################################### */
.promo{
    background-color: var(--color);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
}
.promo p{
    color: var(--tertiary);
}
.p2mobile{
    display: none;
}

.btn-chr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 420px;
}
.btn-chr ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}
.btn-chr ul li{
    padding: 0px 13px;
}
.btn-chr li{
    color: var(--tertiary);
}
.promo button{
    background-color: var(--tertiary);
    border: none;
    border-radius: 15px;
    width: 90px;
    height: 30px;
}
.promo button:hover{
    background-color: var(--secondary);
    color: var(--tertiary);
}

@media screen and (min-width:1440px){
    .navbar{
        padding: 0px 172px;
    }
    .promo{
        padding: 0px 172px;
    }
}
@media screen and (max-width: 1023px){
    .btn-chr{
        min-width: 120px;
    }
    .btn-chr ul{
        display: none;
    }
}
@media screen and (max-width: 1279px){
    .promo {
        padding: 0px 40px;
    }
}
@media screen and (max-width: 780px){
    .p2mobile{
        display: flex;
    }
    .promo p:first-child{
        display: none;
    }
}

/* ##############################hero section###################################### */
.hero_section{
    height: 600px;
    /* min-height: calc(100vh - (74px + 50px)); */
    display: flex;
    justify-content: space-between;
    align-items: center;/*center*/
    padding-left: 172px;
    padding-right: 90px;
    /* padding right 64*/
    /* background: url(/images/herosectionback.png);
    background-repeat: no-repeat;
    background-size:55%;
    background-position: 115% 76%; */
    background-color:var(--tertiary);
    position: relative;
}
.languagedropdown{
    /* background-color: var(--color); */
    background-color: #999999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 75px;
    /* position: absolute;
    top: 630px;
    left: 0; */
    position: fixed;
    left: 0;
    bottom: 130px;
    border-radius: 0px 5px 5px 0px;
}
.languagedropdown i{
    transform: rotate(180deg);
    color: white;
}
.languagedropdown i:hover{
    cursor: pointer;
}
.herotext{
    width: 40%;
}
.herotext h1{
    font-size: clamp(32px, 4vw, 63px);
    /* font-size: 63px; */
    /* line-height: 75px; */
    line-height: clamp(42px, 4.5vw, 75px);
    margin-bottom: 24px;
}
.herotext p{
    font-size: clamp(18px, 4vw, 20px);
    /* font-size: 22px; */
    /* line-height: 36px; */
    line-height: clamp(27px, 4vw, 30px);
    margin-bottom: 40px;
    padding-right: 40px;

}
.buttonhero{
    display: flex;
    align-items: center;
}
.buttonhero a{
    text-decoration: none;
    font-size: 20px;
    /* font-size: clamp(20px, 2.5vw, 22px); */
    line-height: 30px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 30px;
    padding: 12px 48px;
    color: var(--tertiary);
    transition: ease-in 0.2s;
}
.buttonhero a:not(:first-child){
    margin-left: 24px;
}
.buttonhero a:hover{
    background-color: var(--tertiary);
    color: var(--black);
    border: 1px solid var(--secondary);
    border-color: var(--color);
    transition: ease-out 0.4s;
    
}
.heropic{
    width: 50%;
    height: 398px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .heropic .heropicsub{
    position: relative;
    height: 376px;
}*/
.heropic .heropicsub img{
    width: 100%;
    /* background-color: #333; */
} 
.heropic .slideroverf{
    /* background-color: rgb(138, 39, 39); */
    overflow: hidden;
}
.heropic .heropicsub{
    display: flex;
    /* height: 376px; */
    transition: all 0.3s;
}
.item_option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
.item_option i{
    font-size: 30px;
    color: var(--color);
    transition: all 0.3s linear;
}
.item_option i:hover{
    /* color: rgb(153, 35, 35); */
    transform: scale(1.2)
}
.item_option p{
    font-size: 18px;
}

/* 1279 */
@media screen and (max-width: 1279px){
    .hero_section{
        padding: 0px 40px;
    }
}
@media screen and (max-width: 1023px){
    .hero_section{
        padding: 0px 20px;
    }
}
@media screen and (max-width: 1199px){
    .buttonhero a{
        font-size: 18px;
        padding: 7px 30px;
        line-height: 27px;
    }
}
/* !hhhhhhh */
@media screen and (max-width: 880px){
    .buttonhero{
        /* background-color: red; */
        flex-direction: column;
        align-items: flex-start;
    }
    .buttonhero a:not(:first-child){
        margin-left: 0;
    }
    .buttonhero a:first-child{
        margin: 0 0 15px 0;
    }
}
@media screen and (max-width: 680px){
    .buttonhero{
        /* background-color: red; */
        flex-direction: row;
        align-items: flex-start;
    }
    .buttonhero a:not(:first-child){
        margin-left: 20px;
    }
    .hero_section{
        flex-direction:column-reverse;
    }
    .herotext{
        width: 100%;
    }
    .heropic{
        width: 90%;
    }
}
@media screen and (max-width: 500px){
    .hero_section{
        height: 550px;
        padding-bottom: 10px; 
    }
}

/* ##############################shiping section###################################### */
 .shiping{
    /* height: 90px; */
    display: flex;
    justify-content: center;
}
.shipingall{
    height: 100%;
    /* width: 900px; */
    width: min(70%, 900px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: var(--color) */
}
.shiping .icontxt{
    /* background-color: #9E121B; */
    height: 80px;
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shiping .icontxt i{
    font-size: 37px;
}
.shiping .icontxt p{
    width: 60%;
    font-size: clamp(15px, 1.5vw, 18px);
    line-height: clamp(27px, 4vw, 30px);
}
.shiping .iconback{
    background-color: var(--tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    color: var(--color);
}
.shiping .iconback:hover{
    background-color: var(--secondary);
    color: var(--tertiary);
}



@media screen and (max-width: 1023px){
    .shipingall{
        width: 80%;
    }
}
@media screen and (max-width: 550px){
    .shipingall{
        /* background-color: red; */
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
    }
    .shiping .icontxt{
        width: 90%;
        flex-direction: row-reverse;
        border-bottom: 2px solid #2c2c2c;
    }
    .shiping .icontxt p{
        width: fit-content;
        font-size: larger;
    }
    .shiping .iconback{
        background-color: transparent;
    }
    .shiping .iconback:hover{
        background-color: transparent;
        color: black; 
    }
}

/* ##############################categories section###################################### */
.categoriescontainer{
    background-color: var(--tertiary);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
}
.pcgamer{
    /* background: url('/images/pcgamer1.jpg'); */
    background: url('../images/pcgamer2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 53%;
}
.pcbureau{
    background: url('../images/pcbureau1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 53%;
}
.pcportable{
    background: url('../images/pcportable2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
}
.pcaccessoire{
    background: url('../images/pcaccessories1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.buildyours{
    background: url('../images/build1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% ;
}
.categoriesall .test{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: ease-in 0.3s;
}
/* .categoriesall .test i,
.categoriesall .test p{
    transform: scale(0);
} */
.categoriesline1 .test p{
    transform: scale(0);
}
.categoriesall .test:hover i,
.categoriesall .test:hover p{
    transform: scale(1);
    transition: ease-out 0.4s;
}
.categoriesall .test:hover{
    background-color: #1816167a;
    transition: ease-out 0.4s;
}
.categoriesall{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categoriesall p,.categoriesall i{
    color: var(--tertiary);
}
.categoriesline1{
    /* background-color:rgb(100, 190, 190); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    /* width: min(80%, 1000px); */
    /* height:min(80%, 300px); */
    margin-bottom:  20px;
}
.categoriesline1 .div{
    background-color:#C4C4C4;
    height: 300px;
    width: calc((100% - 0px) / 3 );
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoriesline1 .div:not(:first-child){
    margin-left:  20px;
}
.categoriesline2 .div:not(:first-child){
    margin-left:  20px;
}
.categoriesline2{
    /* background-color:aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
}
.categoriesline2 .div{
    background-color:#C4C4C4;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoriesline2 .buildyours{
    /* justify-content: space-evenly; */
    width: calc((100% / 3 + 10px )*2);
}
.categoriesline2 .test1{
    justify-content: space-evenly;
}
.categoriesline2 .pcaccessoire{
    width: calc(100% / 3);
}

@media screen and (max-width: 1279px){
    .categoriesline1{
        width: 900px;
    }
    .categoriesline1 .div{
        height: 250px;
    }
    .categoriesline2{
        width: 900px;
    }
    .categoriesline2 .div{
        height: 70px;
    }
    .categoriescontainer{
        height: 500px;
    }

}
@media screen and (max-width: 1023px){
    .categoriesline1{
        width: 800px;
    }
    .categoriesline1 .div{
        height: 200px;
    }
    .categoriesline2{
        width: 800px;
    }
    .categoriesline2 .div{
        height: 60px;
    }
    .categoriescontainer{
        height: 500px;
    }
}
@media screen and (max-width: 890){
    .categoriesline1{
        width: 700px;
    }
    .categoriesline1 .div{
        height: 200px;
    }
    .categoriesline2{
        width: 800px;
    }
    .categoriesline2 .div{
        height: 60px;
    }
    .categoriescontainer{
        height: 500px;
    }
}
/* ##############################aboutus section###################################### */
.aboutus{
    background-color: var(--tertiary);
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.textdiv{
    margin-left: 30px;
}
.insideaboutus{
    /* background-color: aquamarine; */
    display: flex;
    width: 1000px;
    height: 290px;
}
.videodiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.videodiv i{
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    color: var(--secondary);
    font-size: 70px;
}
.textdiv h2{
    font-size:30px;
}
.textdiv h5{
    font-size:20px;
}
.textdiv p{
    font-size:17px;
}
.textdiv .div3{
    width: 400px;
}
.textdiv .div1{
    /* background-color: #925155; */
    height: 15%;
    margin: 1px 0px;
}
.textdiv .div2{
    /* background-color: #925155; */
    height: 10%;
    margin: 1px 0px;
}
.textdiv .div3{
    /* background-color: #925155; */
    height: 50%;
    margin: 1px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textdiv .div4{
    /* background-color: #925155; */
    display: flex;
    align-items: center;
    height: 25%;
    margin: 1px 0px;
}
.textdiv a{
    text-decoration: none;
    font-size: 20px;
    /* font-size: clamp(20px, 2.5vw, 22px); */
    /* line-height: 30px; */
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 30px;
    padding: 9px 40px;
    color: var(--tertiary);
    transition: ease-in 0.2s;
}
    
.textdiv a:hover{
    background-color: var(--tertiary);
    color: var(--black);
    border: 1px solid var(--secondary);
    border-color: var(--color);
    transition: ease-out 0.4s;
}

@media screen and (max-width: 1279px){
    .insideaboutus{
        width: 900px;
    }
    .textdiv h2{
        font-size: 25px;
    }
    .textdiv h5{
        font-size: 18px; 
    }
    .textdiv{
        width: 350px;
    }
}
@media screen and (max-width: 1023px){
    .insideaboutus{
        /* width: 700px; */
        height: 280px;
    }
    .insideaboutus video{
        width: 450px ;
    }
    .textdiv .div4{
        height: 100px;
    }
    .aboutus{
        height: 400px;
    }
    .textdiv .div3{
        width: 300px;
        height: 120px;
        font-size: 10px;
        overflow: hidden;
    }

}
@media screen and (max-width: 900px){
    .aboutus{
        height: 700px;
    }
    .insideaboutus{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .insideaboutus video{
        width: 400 !important;
        padding: 0 0 5px 0;
    }
}

/* ##############################spacer###################################### */
.thespacer{
    height: 500px;
    /* background: var(--tertiary); */
    background-color: #9E121B;
}
/* ############################## products section ###################################### */
.productallcontainer{
    /* add min to height here tooo0o0o0o */
    min-height: 550px;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.productdflex{
    /* background-color: rgb(148, 105, 105); */
    width: 100%;
}
.producthead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    
}
.productcontainer{
    padding: 5px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* added the min height here */
    min-height: 350px;
    width: 100%;
    /* background-color: #dd1111; */
}
.divo .img{
    background-color: var(--tertiary);
    /* background-color: aquamarine; */
    border-radius: 8px;
    height: 200px;
    position: relative;
}
.divo .img img:last-child{
    background-color: var(--tertiary);
    position: absolute;
    left: 1;
    top: 1;
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
}
.divo .img:hover img:last-child{
    opacity: 1;
    z-index: 0;
    /* transition: 0.5s ease-in; */
    /* transition: 0.15s; */
}
/* ATTENTION */
.divo div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: coral; */
}
/* .divo p{
    padding-left: 10px;
} */
.divo .categoriepro{
    width: 100%;
    color: gray;
    font-size: 14px;
}
.divo .pricepro{
    display: flex;
    width: 100%;
    color: var(--secondary);
    justify-content: space-between;
    align-items: center;
}
.divo .pricepro p{
    font-size:x-large;
    font-weight: 700;
}
.divo .pricepro span{
    background-color: var(--secondary);
    color: var(--primary);
    font-weight: 100;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    padding: 3px 5px;
}
.divo .pricepro span:hover{
    cursor: pointer;
}
.divo .pricepro span:active{
    background-color:#9e121bbd;
    border-color:#9e121bbd;
}
.productcontainer .divo{
    /* background-color: rgb(207, 136, 85); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 280px;
    height: 300px;
    position: relative;
    padding:0 0 25px 0;
    margin: 0 5px;
}
.productcontainer .divo .promoproduct{
    position: absolute;
    /* right: 10px; */
    left: 10px;
    top: 10px;
    z-index: 1;
    background-color: #ff0000;
    color: var(--primary);
    font-weight: 100;
    border: 1px solid #ff0000;
    border-radius: 5px;
    padding: 3px 5px;
}



@media screen and (min-width: 1440px){
    .productallcontainer{
        padding: 0px 172px;
    }
}
/* margin 20 */
@media screen and (max-width: 1240px){
    .productcontainer{
        /* background-color: yellow; */
        justify-content: center;
        /* padding: 0 110px; */
    }
}
/* ############################## our brands section ###################################### */
.brandscontainer{
    background-color: var(--primary);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.brandsall{
    /* background-color: #4b6361; */
    height: 85px;
    padding: 0px 160px;
    display: flex;
}
.brandsall h3{
    font-size: x-large;
}
.brandsall .ourbrands{
    /* background-color: blueviolet; */
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.ourbrands div{
    border-right: 3px solid black;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .ourbrands h3{
    background-color: #4b6361;
} */
.brandsall .brandsimg{
    /* background-color: brown; */
    width: 80%;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    overflow: hidden;
    position: relative;
}
.brandsimg .img{
    /* background-color: #4b6361; */
    width: 168.5px;
    height: 70px;
    filter: grayscale(100%);
    transition: ease-out 0.30s;
    /* filter in transition  */
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.brandsimg .img:hover{
    filter: grayscale(0%);
}

.wrapperslider{
    /* background-color: red; */
    width: 1011px;
    display: flex;
    animation: brandsimg 20s linear infinite;
    position: absolute;
}
.wrapperslider .parti{
    display: flex;
    width: 100%;
    /* width: 1011px; */
    justify-content: space-between;
}

@keyframes brandsimg {
    0% { left: 0; }
    100% { left: -100%; }
}
/* ##############################newsletter section ###################################### */
.newslettercontainer{
    background-color: var(--tertiary);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletterall{
    height: 250px;
    width: 1000px;
    /* background-color: aquamarine; */
    display: flex;
}
.newsletterall .rightside{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 20px;
    border-radius: 10px;
}
.newsletterall .leftside{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* .newsletterall .leftside .formnewsletter{
    display: flex;
    flex-direction: column;
} */
.leftside .text h2{
    font-size: 40px ;
}
.formnewsletter form{
    display: flex;
    justify-content: space-between;
}
.formnewsletter button{
    text-decoration: none;
    font-size: 20px;
    /* font-size: clamp(20px, 2.5vw, 22px); */
    /* line-height: 30px; */
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 10px;
    padding: 10px 0px;
    color: var(--tertiary);
    transition: ease-in 0.2s;
}  
.formnewsletter button:hover{
    background-color: var(--tertiary);
    color: var(--black);
    border: 1px solid var(--secondary);
    border-color: var(--color);
    transition: ease-out 0.4s;
}
.formnewsletter form input{
    width: 73%;
    border: 1px solid gray;
    border-radius: 10px;
}
.formnewsletter form button{
    width: 25%;
}
.formnewsletter ::placeholder {
    color: #9E121B;
    opacity: 1; /* Firefox */
    padding-left: 15px;
}
@media screen and (max-width: 1279px){
    .newsletterall{
        width: 900px;
    }
    .newslettercontainer{
        height: 450px; 
    }
}
@media screen and (max-width: 1023px){
    .newsletterall{
        width: 800px;
    }
    .newsletterall .text h2{
        font-size: 30px;
        padding: 0 0 5px 0;
    }
}
/*################################# cart #######################*/
.cardcontainerall{
    background-color: #00000070;
    opacity: 0;
    /* display: flex; */
    display: none;
    justify-content: end;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}
.cardcontainer{
    background-color: rgb(255, 255, 255);
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}
.cardcontainer .cardheader{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    /* background-color: rgb(61, 124, 124); */
}
.cardheader .x h2{
    font-weight: 100;
    line-height: 40px;
}
.cardheader .x i{
    line-height: 40px;
}
.cardheader .x i:hover{
    line-height: 40px;
    cursor: pointer;
}
.cardheader p{
    line-height: 15px;
    color: gray;
    font-size: 14px;
    padding-bottom: 5px;
}
.cardcontainer .cardbody{
    height: 900px;
    /* background-color: rgb(123, 179, 179); */
}
.cardbody .start{
    padding-top: 15px;
}
.cardbody .start p:first-child{
    padding-bottom: 5px;
}
.cardbody .center{
    padding-top: 15px;
}
.cardbody .center i{
    color: gray;
    font-size: 13px;
    padding: 3px;
}
.center .delet i{
    padding-top: 5px;
    color: gray;
}
.cardbody .amount{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardbody .amount p{
    color: rgb(99, 98, 98);
}
.cardcontainer .cardfooter{
    min-height: 140px;
    position: fixed;
    bottom: 0;
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(61, 124, 124); */
}
.cardcontainer .cardfooter .total{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 20px;
}
.cardbody .productslist li{
    display: flex;
    /* background-color: #3c5027; */
    justify-content: space-between;
    height: 120px;
    border-bottom: 1px solid gray;
}
.cardheader .x{
    display: flex;
    justify-content: space-between;
}
.cardbody .center {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 150px;
}
.cardbody .productslist li .end{
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: #9E121B; */
    /* width: 100px; */
}
.btncheckoutcard{
    padding-top: 20px;
}
.btncheckoutcard a{
    text-decoration: none;
    font-size: 20px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--tertiary);
    border-radius: 30px;
    padding: 15px 48px;
    transition: ease-in 0.2s;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.btncheckoutcard a:hover{
    background-color: var(--tertiary);
    color: var(--black);
    border: 1px solid var(--secondary);
    border-color: var(--color);
    transition: ease-out 0.4s;
}

/* account signup signin popup */
#btnaccount{
    font-size: 23px;
    position: absolute;
    top: 0px;
    left: 15px;
    color: rgb(143, 22, 22);
    z-index:50;
}
#btnaccount:hover{
    cursor: pointer;
}
.accountcon{
	background: #0000002f;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0;
}
.accountcon h1 {
	font-weight: bold;
	margin: 0;
}
.accountcon h2 {
	text-align: center;
}

.accountcon p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.accountcon span {
	font-size: 12px;
}

.accountcon a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.accountcon button {
	border-radius: 9px;
	border: 1px solid #9E121B;
	background-color: #9E121B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.accountcon button:active {
	transform: scale(0.95);
}

.accountcon button:focus {
	outline: none;
}

.accountcon button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.accountcon form {
	background-color: #FFFFFF;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	flex-direction: column;
	padding: 0px 30px;
	height: 100%;
	text-align: center;
}

.accountcon input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	border-radius: 9px;
	/* width: 100%; */
}

.accountcon .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    /* position: absolute; */
}

.accountcon .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.accountcon .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.accountcon .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.accountcon .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.accountcon .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.accountcon .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.accountcon .container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.accountcon .overlay {
	background: #93291E;
	background: -webkit-linear-gradient(to right, #ED213A, #93291E);
	background: linear-gradient(to right, #ED213A, #93291E);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.accountcon .container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.accountcon .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.accountcon .overlay-left {
	transform: translateX(-20%);
}

.accountcon .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.accountcon .overlay-right {
	right: 0;
	transform: translateX(0);
}

.accountcon .container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.accountcon .social-container {
	margin: 20px 0;
}

.accountcon .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
.accountcon .form-container form .fa-envelope{
	display: flex; 
	justify-content: flex-end;
	position: absolute;
	color: #93291E;
}
.accountcon .form-container form .fa-lock{
	display: flex; 
	justify-content: flex-end;
	position: absolute;
	color: #93291E;
}
.accountcon .form-container form{
	position: relative;
}
.accountcon .sign-in-container form .fa-lock{
	right: 43px;
	top:200px;
}
.accountcon .sign-in-container form .fa-envelope{
	right: 43px;
	top:255px;
}

.accountcon .sign-up-container form .fa-lock{
	right: 43px;
	top:213px;
}
.accountcon .sign-up-container form .fa-envelope{
	right: 43px;
	top:267px;
}
.accountcon .sign-up-container form .fa-user{
	display: flex; 
	justify-content: flex-end;
	position: absolute;
	color: #93291E;
	right: 43px;
	top:158px;
}