@font-face {
    font-family: "std";
    src: url(font/circular-std-medium-500.ttf) format('truetype');
}
:root{
    --primary: #FFFFFF;
    --secondary: #9E121B;
    --tertiary: #F3F3F3;
    --color: #191A18;
    
}
*{
    font-family: "std";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cardcontainerall{
    background-color: #00000070;
    display: flex;
    justify-content: end;
    height: 100vh;
}
.cardcontainer{
    background-color: rgb(255, 255, 255);
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}
.cardcontainer .cardheader{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    /* background-color: rgb(61, 124, 124); */
}
.cardheader .x h2{
    font-weight: 100;
    line-height: 40px;
}
.cardheader .x i{
    line-height: 40px;
}
.cardheader p{
    line-height: 15px;
    color: gray;
    font-size: 14px;
    padding-bottom: 5px;
}
.cardcontainer .cardbody{
    height: 900px;
    /* background-color: rgb(123, 179, 179); */
}
.cardbody .start{
    padding-top: 15px;
}
.cardbody .start p:first-child{
    padding-bottom: 5px;
}
.cardbody .center{
    padding-top: 15px;
}
.cardbody .center i{
    color: gray;
    font-size: 13px;
    padding: 3px;
}
.center .delet i{
    padding-top: 5px;
    color: gray;
}
.cardbody .amount{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardbody .amount p{
    color: rgb(99, 98, 98);
}
.cardcontainer .cardfooter{
    min-height: 140px;
    position: sticky;
    /* right: 0; */
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(61, 124, 124); */
}
.cardcontainer .cardfooter .total{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 20px;
}
.cardbody .productslist li{
    display: flex;
    /* background-color: #3c5027; */
    justify-content: space-between;
    height: 120px;
    border-bottom: 1px solid gray;
}
.cardheader .x{
    display: flex;
    justify-content: space-between;
}
.cardbody .center {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 150px;
}
.cardbody .productslist li .end{
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: #9E121B; */
    width: 100px;
}
.btncheckoutcard{
    padding-top: 20px;
}
.btncheckoutcard a{
    text-decoration: none;
    font-size: 20px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--tertiary);
    border-radius: 30px;
    padding: 15px 48px;
    transition: ease-in 0.2s;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.btncheckoutcard a:hover{
    background-color: var(--tertiary);
    color: var(--black);
    border: 1px solid var(--secondary);
    border-color: var(--color);
    transition: ease-out 0.4s;
}