@font-face {
    font-family: "std";
    src: url(font/circular-std-medium-500.ttf) format('truetype');
}
:root{
    --primary: #FFFFFF;
    --secondary: #9E121B;
    --tertiary: #F3F3F3;
    --color: #191A18;
    
}
*{
    font-family: "std";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*################# account signup signin popup ##########################*/
#btnaccount{
    font-size: 23px;
    position: absolute;
    top: 0px;
    left: 15px;
    color: rgb(143, 22, 22);
    z-index:50;
}
#btnaccount:hover{
    cursor: pointer;
}
.accountcon{
	background: #0000002f;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 0;
}
.accountcon h1 {
	font-weight: bold;
	margin: 0;
}
.accountcon h2 {
	text-align: center;
}

.accountcon p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.accountcon span {
	font-size: 12px;
}

.accountcon a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.accountcon button {
	border-radius: 9px;
	border: 1px solid #9E121B;
	background-color: #9E121B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.accountcon button:active {
	transform: scale(0.95);
}

.accountcon button:focus {
	outline: none;
}

.accountcon button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.accountcon form {
	background-color: #FFFFFF;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	flex-direction: column;
	padding: 0px 30px;
	height: 100%;
	text-align: center;
}

.accountcon input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	border-radius: 9px;
	/* width: 100%; */
}

.accountcon .container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    /* position: absolute; */
}

.accountcon .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.accountcon .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.accountcon .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.accountcon .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.accountcon .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.accountcon .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.accountcon .container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.accountcon .overlay {
	background: #93291E;
	background: -webkit-linear-gradient(to right, #ED213A, #93291E);
	background: linear-gradient(to right, #ED213A, #93291E);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.accountcon .container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.accountcon .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.accountcon .overlay-left {
	transform: translateX(-20%);
}

.accountcon .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.accountcon .overlay-right {
	right: 0;
	transform: translateX(0);
}

.accountcon .container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.accountcon .social-container {
	margin: 20px 0;
}

.accountcon .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
.accountcon .form-container form .fa-envelope{
	display: flex; 
	justify-content: flex-end;
	position: absolute;
	color: #93291E;
}
.accountcon .form-container form .fa-lock{
	display: flex; 
	justify-content: flex-end;
	position: absolute;
	color: #93291E;
}
.accountcon .form-container form{
	position: relative;
}
.accountcon .sign-in-container form .fa-lock{
	right: 43px;
	top:200px;
}
.accountcon .sign-in-container form .fa-envelope{
	right: 43px;
	top:255px;
}

.accountcon .sign-up-container form .fa-lock{
	right: 43px;
	top:213px;
}
.accountcon .sign-up-container form .fa-envelope{
	right: 43px;
	top:267px;
}
.accountcon .sign-up-container form .fa-user{
	display: flex; 
	justify-content: flex-end;
	position: absolute;
	color: #93291E;
	right: 43px;
	top:158px;
}
/*################################# cart #######################*/
.cardcontainerall{
    background-color: #00000070;
    opacity: 0;
    /* display: flex; */
    display: none;
    justify-content: end;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}
.cardcontainer{
    background-color: rgb(255, 255, 255);
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}
.cardcontainer .cardheader{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    /* background-color: rgb(61, 124, 124); */
}
.cardheader .x h2{
    font-weight: 100;
    line-height: 40px;
}
.cardheader .x i{
    line-height: 40px;
}
.cardheader .x i:hover{
    line-height: 40px;
    cursor: pointer;
}
.cardheader p{
    line-height: 15px;
    color: gray;
    font-size: 14px;
    padding-bottom: 5px;
}
.cardcontainer .cardbody{
    height: 900px;
    /* background-color: rgb(123, 179, 179); */
}
.cardbody .start{
    padding-top: 15px;
}
.cardbody .start p:first-child{
    padding-bottom: 5px;
}
.cardbody .center{
    padding-top: 15px;
}
.cardbody .center i{
    color: gray;
    font-size: 13px;
    padding: 3px;
}
.center .delet i{
    padding-top: 5px;
    color: gray;
}
.cardbody .amount{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardbody .amount p{
    color: rgb(99, 98, 98);
}
.cardcontainer .cardfooter{
    min-height: 140px;
    position: fixed;
    bottom: 0;
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(61, 124, 124); */
}
.cardcontainer .cardfooter .total{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 20px;
}
.cardbody .productslist li{
    display: flex;
    /* background-color: #3c5027; */
    justify-content: space-between;
    height: 120px;
    border-bottom: 1px solid gray;
}
.cardheader .x{
    display: flex;
    justify-content: space-between;
}
.cardbody .center {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80px;
}
.cardbody .productslist li .end{
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: #9E121B; */
    /* width: 100px; */
}
.btncheckoutcard{
    padding-top: 20px;
}
.btncheckoutcard a{
    text-decoration: none;
    font-size: 20px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--tertiary);
    border-radius: 30px;
    padding: 15px 48px;
    transition: ease-in 0.2s;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.btncheckoutcard a:hover{
    background-color: var(--tertiary);
    color: var(--black);
    border: 1px solid var(--secondary);
    border-color: var(--color);
    transition: ease-out 0.4s;
}
/* navbar */
.navbar{
    background-color: var(--tertiary);
    display: flex;
    padding: 0px 64px;
    min-height: 74px;
    justify-content: space-between;
}
.logo1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlist ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}
.navlist ul li{
    padding: 0px 10px 0px 30px;
}
.navlist ul a{
    position: relative;
    padding: 0px 1px;
    text-decoration:none;
    color: var(--color);
}
.navlist a::after{
    content: "";
    position: absolute;
    background-color: var(--secondary);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navlist a:hover::after{
    width: 100%;

}
@media screen and (max-width: 1279px){
    .navbar {
        padding: 0px 40px;
    }
}
@media (max-width: 1140px) {
    .navlist{
        /* background-color: var(--tertiary); */
        
        background-color: rgb(221, 221, 221);
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 1;
        padding: 50px 0 0 0;
        opacity: 0;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .navlist2{
        transform: translateX(0%);
        opacity: 1;
    }
    .navlist ul{
        flex-direction: column;
    }
    .navlist ul li{
        padding: 30px 0 0 0;
    }
    .navtoggle{
        background: url(../images/bars-solid.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        z-index: 100;
    }
    .navtogglex{
        background: url(../images/xmark-solid.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 30px;
        z-index: 100;
    }
    .navtoggle:hover{
        cursor: pointer;
    }
}

/* ##############################promobar###################################### */
.promo{
    background-color: var(--color);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
}
.promo p{
    color: var(--tertiary);
}
.p2mobile{
    display: none;
}

.btn-chr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 420px;
}
.btn-chr ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}
.btn-chr ul li{
    padding: 0px 13px;
}
.btn-chr li{
    color: var(--tertiary);
}
.promo button{
    background-color: var(--tertiary);
    border: none;
    border-radius: 15px;
    width: 90px;
    height: 30px;
}
.promo button:hover{
    background-color: var(--secondary);
    color: var(--tertiary);
}

@media screen and (min-width:1440px){
    .navbar{
        padding: 0px 172px;
    }
    .promo{
        padding: 0px 172px;
    }
}
@media screen and (max-width: 1023px){
    .btn-chr{
        min-width: 120px;
    }
    .btn-chr ul{
        display: none;
    }
}
@media screen and (max-width: 1279px){
    .promo {
        padding: 0px 40px;
    }
}
@media screen and (max-width: 780px){
    .p2mobile{
        display: flex;
    }
    .promo p:first-child{
        display: none;
    }
}

/* ##############################footer###################################### */
body{
    background-color: var(--primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #353070; */
}
.footer{
    background-color: var(--primary);
    padding: 0px 64px;
}
/* ddddddddddddddd */
.footermenu{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.width{
    width: 20%;
    /* background-color: #e45f68; */
}
.width h2{
    font-size: 20px;
}
/* .logo2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #353070;
} */
.description{
    font-size: 15px;
}
.footermenu ul{
    /* background-color: #353070; */
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.footermenu ul li a{
    text-decoration: none;
    color: var(--color);
}
.footermenu h2 a{
    text-decoration:none;
    color: var(--color);
}
.footermenu .width:not(:first-child){
    /* background-color: #353070; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* li:not(:last-child) {
    margin-bottom: 10px;
}
.menuheader{
    margin-bottom: 10px;
} */
.divider{
    width:100% ;
    height: 2px;
    background-color: rgb(207, 206, 206);
    display: inline-block;
}
.spacer{
    padding-top: 10px;
}
.footerALLright{
    /* background-color: #353070; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footerALLright ul{
    list-style-type: none;
    display: flex;
}
.footerALLright ul li a{
    text-decoration: none;
    color: var(--color);
}
.footerALLright li{
    /* font-size: */
    width: 30px;
    color: gray;
}
.footerALLright li:hover{
    /* font-size: */
    color:var(--secondary);
}






@media screen and (max-width: 1279px){
    .footer{
        padding: 0px 40px;
    }
}
@media screen and (max-width: 1023px){
    .footer{
        padding: 0px 30px;
    }
}
@media screen and (max-width: 768px){
    .footer{
        padding: 0px 16px;
    }
    .footermenu{
        display: block;
        /* justify-content: space-between;
        padding-top: 40px; */
    }
    .width{
        width: 100%;
        padding: 5px 0;
    }
}
@media screen and (min-width: 1440px){
    .footer{
        padding: 0px 172px;
    }
}
/* alert message */
.alertmessage{
    background-color: #fff;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
    box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 56px;
    border-radius: 12px;
    position: absolute;
    bottom: 20px;
    /* width: 260px; */
    right: 10px;
    padding: 15px 40px;
    border-left: 6px solid #9E121B;
    z-index: 1;
    position: fixed;
}
.alertmessage .contentalert{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.contentalert i{
    padding: 0 0 0 20px;
}
.contentalert i:hover{
    cursor: pointer;
}