:root{
    --primary: #FFFFFF;
    --secondary: #9E121B;
    --tertiary: #F3F3F3;
    --color: #191A18;
    
}
body{
    background-image: url(/images/check2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body .thanks{
    height: 85vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter:blur(2px);
}
.thanks h2{
    /* margin: 0 auto; */
    width: fit-content;
    text-align: center;
}
.thanks .thank_you_page{
    margin: 10px 0;
    height: 300px;
    width: 300px;
    /* margin: 0 auto; */
    background-image: url(/images/check.svg);
    background-position: center;
    background-repeat:no-repeat ;
}
.thanks a{
    margin: 30px 0;
    text-decoration: none;
    font-size: 20px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    color: var(--tertiary);
    border-radius: 30px;
    padding: 10px 0px;
    transition: ease-in 0.2s;
    display: inline-block;
    width: 15%;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;      
}
.thanks a:hover{
    background-color: var(--tertiary);
    color: var(--black);
    border: 1px solid var(--secondary);
    border-color: var(--color);
    transition: ease-out 0.4s;
}